nav.nav
    .nav-links
        a(href="/").web-name 파주학당
        a.nav-menu Programs
        a.nav-menu About
        a.nav-menu Contact
        if !user
            a.nav-menu(href='/login') Login
            a.nav-menu(href='/signup') Signup
        else
            a(href='/logout') Logout
        //- a(href='#') MyPage
        //- if user.admin
            
            